/*************************************
* custom style sheet
**************************************/

/*************************************
* Global Styles
**************************************/
html, body {
	height: 100%;
	width: 100%;
	font-family: cursive;
}

.pad-section {
	padding: 50px;
}

/*************************************
* Header
**************************************/
.navbar {
	margin: 0 0 0 0;
}

.navbar-brand {
	font-size: x-large;
}

.navbar-right {
	font-size: large;
}




/*************************************
* JumboTron
**************************************/
.jumbotron {
	text-align: center;
	vertical-align: bottom;
	background: url("../images/three-leaf.jpg") no-repeat center center fixed;
	display: table;
	height: 30rem;
	width: 100%;
	padding-top: 10rem;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
}
/***************************************
*first section
*****************************************/
#length {
	background: url("../images/three-leaf.jpg") no-repeat center center fixed;
	display: table;
	height: 45rem;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}




/*****************************************
* Second Section
*******************************************/
#ethno {
	background: limegreen;
	color: white;
	text-align: justify;
}

#ethno h2 {
	text-align: center;
}


/******************************************
* Third Section
*******************************************/

#popular {
	background: url("../images/kflower.jpg") no-repeat center center fixed;
	display: table;
	height: 50rem;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#popular {
	padding: 3.8rem;
}

#popular .panel {
	opacity: 0.90;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.media img {
	height: 5rem;
	width: 5rem;
}

/********************************************
* Section Four
*********************************************/

#resources {
	background: limegreen;
	color: white;
	text-align: justify;
}

#resources a {
	color: cyan;
}



.footer {
	background: black;
	color: gray;
}